.clearfix {
    clear: both;
}

ul, li {
    text-align: left;
}

.list {
    
}

.list li {
    width: 99%;
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
}

.list li span{
    display: block;
}

.list li span.name{
    float: left;
}

.list li span.number{
    float: right;
}

input {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-indent: 10px;
}